.radiant_scroller {
    margin-left: 50px;
}

.radiant_scroller_wrapper {
    background-color: red;
}

.radiant_scroller .scroller-el {
    width: 200px;
    height: 191px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.radiant_scroller .radiant-next, .radiant_scroller .radiant-prev {
    bottom: -13px;
}

.radiant_scroller .radiant-next {
    left: 100px;
    top: 500px;
}

.radiant_scroller .radiant-prev {
    left: 0;
    top:500px;
}

.current-page {
    color: red !important;
}